body {
	padding:20px;
	background-color: #F6DFD6;
}
h1 {
    color: #2F3846;
    text-align: left;
    background-color:#E9AAA9;
    padding:50px;
}
a {
    color: #406E8E;
}
body {
    color: #8D99A2;
    text-align:left;
    font-size: 20px;
}
p {
    color: #8D99A2;
}
li {
    color: #8D99A2;
}
img {
    height: 300px;
    width: 300px;
    border-color: #F42272;
    border-width: thin;
    border-style: dotted;
}
    

